---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plexovic-gatus
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      gatus:
        serviceAccount:
          identifier: gatus
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/twin/gatus
              tag: v5.35.0@sha256:21609f31be8c4e680ce3004b24276305666239c99aff58391503f3fb6142f39d
            env:
              TZ: "${TZ}"
              GATUS_CONFIG_PATH: /config
              CUSTOM_WEB_PORT: &port 8080
              SECRET_PLEX_DOMAIN: ${SECRET_PLEX_DOMAIN}
              SECRET_NFS_DOMAIN: ${SECRET_NFS_DOMAIN}
            envFrom:
              - secretRef:
                  name: plexovic-gatus-secret
            resources:
              requests:
                cpu: 10m
                memory: 256M
              limits:
                memory: 512M
    service:
      app:
        controller: gatus
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    route:
      app:
        hostnames:
          - status.${SECRET_PLEX_DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: network
    serviceAccount:
      gatus: {}
    persistence:
      config:
        enabled: true
        existingClaim: plexovic-gatus
      config-file:
        type: configMap
        name: plexovic-gatus-configmap
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
