---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: teslamate
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: teslamate-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        ENCRYPTION_KEY: "{{ .ENCRYPTION_KEY }}"
        DATABASE_HOST: &dbHost postgres-rw.database.svc.cluster.local
        DATABASE_NAME: &dbName teslamate
        DATABASE_USER: &dbUser "{{ .POSTGRES_USER }}"
        DATABASE_PASS: &dbPass "{{ .POSTGRES_PASS }}"

        # MQTT
        MQTT_HOST: mosquitto.automation.svc.cluster.local
        MQTT_USERNAME: "{{ .MQTT_USERNAME }}"
        MQTT_PASSWORD: "{{ .MQTT_PASSWORD }}"

        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: "{{ .POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

        # Teslamate Agile
        HomeAssistant__AccessToken: "{{ .HASS_TOKEN }}"
  dataFrom:
    - extract:
        key: teslamate
    - extract:
        key: mosquitto
      rewrite:
        - regexp:
            source: "(.*)"
            target: "MQTT_$1"
    - extract:
        key: cloudnative-pg
