# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app teslamate
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    controllers:
      teslamate:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0
              pullPolicy: Always
            envFrom:
              - secretRef:
                  name: teslamate-secret
        containers:
          app:
            image:
              repository: teslamate/teslamate
              tag: 2.2.0
            env:
              TZ: "Australia/Sydney"
              DISABLE_MQTT: "false"
              MQTT_HOST: mosquitto.automation.svc.cluster.local
            envFrom:
              - secretRef:
                  name: teslamate-secret
            resources:
              requests:
                cpu: 18m
                memory: 338Mi
              limits:
                memory: 1024Mi
          agile:
            image:
              repository: mattjeanes/teslamateagile
              tag: v1.21.0@sha256:9a0df0971a05ef2e20db20b67cd3808adaa40057a09fbefbd76adc766355134e
            env:
              TeslaMate__UpdateIntervalSeconds: 300
              TeslaMate__GeofenceId: 4
              TeslaMate__EnergyProvider: HomeAssistant
              TeslaMate__LookbackDays: 7
              TeslaMate__Phases: 3
              Logging__LogLevel__Default: Debug
              Logging__Console__FormatterName: simple
              Logging__Console__FormatterOptions__TimestampFormat: "yyyy-MM-dd HH:mm:ss.fff"
              HomeAssistant__BaseUrl: http://home-assistant.automation.svc.cluster.local:8123
              HomeAssistant__EntityId: sensor.dynamic_grid_price
            envFrom:
              - secretRef:
                  name: teslamate-secret
    service:
      app:
        controller: teslamate
        ports:
          http:
            port: 4000

    route:
      app:
        hostnames:
          - "teslamate.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    postgresql:
      enabled: false
    resources:
      requests:
        cpu: 18m
        memory: 512Mi
      limits:
        memory: 512Mi
