# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app miniflux
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
    controllers:
      miniflux:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: 'true'
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom:
              - secretRef:
                  name: miniflux-secret
        containers:
          app:
            image:
              repository: ghcr.io/miniflux/miniflux
              tag: 2.2.17@sha256:802ab7d045826d047883476e2310bf59f5d9b3875f7a8106fa0c43638d01fd64
            envFrom:
              - secretRef:
                  name: miniflux-secret
            env:
              BASE_URL: https://miniflux.${SECRET_PUBLIC_DOMAIN}
              CREATE_ADMIN: '1'
              DEBUG: 1
              LOG_DATE_TIME: '1'
              METRICS_ALLOWED_NETWORKS: 10.69.0.0/16
              METRICS_COLLECTOR: '1'
              OAUTH2_CLIENT_ID: miniflux
              OAUTH2_USER_CREATION: '1'
              OAUTH2_OIDC_DISCOVERY_ENDPOINT: https://auth.${SECRET_PUBLIC_DOMAIN}
              OAUTH2_PROVIDER: oidc
              OAUTH2_REDIRECT_URL: https://miniflux.${SECRET_PUBLIC_DOMAIN}/oauth2/oidc/callback
              POLLING_SCHEDULER: round_robin
              POLLING_FREQUENCY: 60
              RUN_MIGRATIONS: 1
            resources:
              requests:
                cpu: 223m
                memory: 100Mi
              limits:
                memory: 250Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthcheck
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
    service:
      app:
        controller: miniflux
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - miniflux.${SECRET_PUBLIC_DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: network
