# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fernwood-booker-odette
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    controllers:
      fernwood:
        annotations:
          configmap.reloader.stakater.com/reload: 'fernwood-configmap-odette'
        containers:
          app:
            image:
              repository: ghcr.io/adampetrovic/fernwood-booker
              tag: 2.0.5@sha256:f41dc78a3a79f9f0c505a45fb0c9d76868214272fd006ce50230d8e3c069050f
            envFrom:
              - secretRef:
                  name: fernwood-booker-secret-odette
            env:
              TZ: "${TZ}"
              AUTOBOOK_CONFIG: /config/config-odette.yaml
            resources:
              requests:
                cpu: 100m
                memory: 100Mi
              limits:
                memory: 250Mi
    service:
      app:
        enabled: false
        controller: fernwood
    persistence:
      config-file:
        enabled: true
        type: configMap
        name: fernwood-configmap-odette
        globalMounts:
          - path: /config/config-odette.yaml
            subPath: config-odette.yaml
