# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpackerr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100]
    controllers:
      unpackerr:
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: docker.io/golift/unpackerr
              tag: unstable@sha256:f8b25c9aae851239d7409d29e9d03fa87f5c079b9ac40b3c0c267611000210d7
            envFrom:
              - secretRef:
                  name: unpackerr-secret
            env:
              TZ: "${TZ}"
              UN_WEBSERVER_METRICS: 'true'
              UN_SONARR_0_URL: http://sonarr.media.svc.cluster.local
              UN_SONARR_0_PATHS_0: /downloads/complete/qbt/tv
              UN_SONARR_1_URL: http://sonarr-4k.media.svc.cluster.local
              UN_SONARR_1_PATHS_0: /downloads/complete/qbt/tv-4k
              UN_RADARR_0_URL: http://radarr.media.svc.cluster.local
              UN_RADARR_0_PATHS_0: /downloads/complete/qbt/movies
              UN_RADARR_1_URL: http://radarr-4k.media.svc.cluster.local
              UN_RADARR_1_PATHS_0: /downloads/complete/qbt/movies-4k
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
    persistence:
      downloads:
        type: nfs
        server: ${SECRET_NFS_DOMAIN}
        path: /volume2/downloads
        globalMounts:
          - path: /downloads
