---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app babybuddy
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      babybuddy:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.3.0@sha256:6fa1f331cddd2eb0b6afa7b8d3685c864127a81ab01c3d9400bc3ff5263a51cf
            envFrom: &envFrom
              - secretRef:
                  name: babybuddy-secret
        containers:
          babybuddy:
            image:
              repository: ghcr.io/linuxserver/babybuddy
              tag: 2.7.1@sha256:900f5b6ab9d41e869ffb6761900c0da9f23d6d5ffd55215265671028405e485c
            env:
              TZ: ${TZ}
              CSRF_TRUSTED_ORIGINS: https://baby.${SECRET_PUBLIC_DOMAIN},https://baby.${SECRET_DOMAIN}
              PUID: 1000
              PGID: 1000
              DB_ENGINE: django.db.backends.postgresql
              DEBUG: 'True'
            envFrom: *envFrom
    service:
      app:
        controller: babybuddy
        ports:
          http:
            primary: true
            port: 8000
    route:
      app:
        hostnames:
          - "baby.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
      external:
        hostnames:
          - "baby.${SECRET_PUBLIC_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        type: emptyDir
