# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gdb-scraper
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      imagePullSecrets:
        - name: ghcr-private
    controllers:
      mymeetscores:
        type: cronjob
        cronjob:
          schedule: "0 6 * * *"
          timeZone: "Australia/Sydney"
          concurrencyPolicy: Forbid
          successfulJobsHistory: 3
          failedJobsHistory: 3
        containers:
          scraper:
            image: &image
              repository: ghcr.io/adampetrovic/gdb-scraper
              tag: 0.1.22@sha256:ea0bda7159a5c8509cb273519c530d9371bbd50700fb7c3cf47c62d91f1fa057
            envFrom:
              - secretRef:
                  name: gdb-secret
            env:
              OUTPUT_DIR: /export
            args: [
              "/app/entrypoint.sh", "mms"
            ]
            resources:
              requests:
                memory: 1Gi
              limits:
                memory: 8Gi
        pod:
          restartPolicy: Never
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups: [100]
    persistence:
      export:
        existingClaim: gdb-scraper
