---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app actions-runner-controller
  namespace: flux-system
spec:
  targetNamespace: actions-runner-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 1h
  retryInterval: 1m
  timeout: 5m
  path: ./kubernetes/apps/actions-runner-system/actions-runner-controller/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: actions-runner-controller-runners
  namespace: flux-system
spec:
  targetNamespace: actions-runner-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: actions-runner-controller-runners
  dependsOn:
    - name: actions-runner-controller
    - name: openebs
      namespace: openebs-system
  interval: 1h
  retryInterval: 1m
  timeout: 5m
  path: ./kubernetes/apps/actions-runner-system/actions-runner-controller/runners
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
