---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: external-unifi
  namespace: default
spec:
  parentRefs:
    - name: envoy-internal
      namespace: network
  hostnames:
    - unifi.${SECRET_DOMAIN}
  rules:
    - backendRefs:
        - group: gateway.envoyproxy.io
          kind: Backend
          name: external-unifi
          namespace: default
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: Backend
metadata:
  name: external-unifi
  namespace: default
spec:
  appProtocols:
    - gateway.envoyproxy.io/wss
  endpoints:
    - ip:
        address: 10.0.0.1
        port: 443
  tls:
    insecureSkipVerify: true
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: external-unifi
  namespace: default
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: external-unifi
  useClientProtocol: true
