---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: external-unifi
  namespace: default
spec:
  parentRefs:
    - name: envoy-internal
      namespace: network
  hostnames:
    - unifi.${SECRET_DOMAIN}
  rules:
    - backendRefs:
        - name: external-unifi
          port: 443
---
apiVersion: v1
kind: Service
metadata:
  name: external-unifi
  namespace: default
spec:
  ports:
    - protocol: TCP
      port: 443
      targetPort: 443
---
apiVersion: v1
kind: Endpoints
metadata:
  name: external-unifi
  namespace: default
subsets:
  - addresses:
      - ip: 10.0.0.1
    ports:
      - port: 443
