---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
configMapGenerator:
  - name: filebrowser-configmap
    files:
      - config.yaml=./config/config.yaml
generatorOptions:
  disableNameSuffixHash: true
