---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana
spec:
  parentRefs:
    - name: envoy-internal
      namespace: network
  hostnames:
    - grafana.${SECRET_DOMAIN}
  rules:
    - backendRefs:
        - name: grafana
          port: 80
