---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: changedetection
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    controllers:
      changedetection:
        containers:
          app:
            image:
              repository: ghcr.io/dgtlmoon/changedetection.io
              tag: "0.52.6@sha256:b73ce64a11aea0727d557917fbdd30f02b2115c18597a33cf608505c031d8056"
            env:
              TZ: "Australia/Sydney"
              PORT: &port 5000
              USE_X_SETTINGS: 1
              BASE_URL: &host changedetection.${SECRET_DOMAIN}
              PLAYWRIGHT_DRIVER_URL: ws://localhost:3000/?stealth=1&--disable-web-security=true
          browser:
            image:
              repository: docker.io/browserless/chrome
              tag: 1-chrome-stable
              pullPolicy: IfNotPresent
            env:
              - {name: SCREEN_WIDTH, value: "1920"}
              - {name: SCREEN_HEIGHT, value: "1024"}
              - {name: SCREEN_DEPTH, value: "16"}
              - {name: ENABLE_DEBUGGER, value: "false"}
              - {name: PREBOOT_CHROME, value: "true"}
              - {name: CONNECTION_TIMEOUT, value: "300000"}
              - {name: MAX_CONCURRENT_SESSIONS, value: "10"}
              - {name: CHROME_REFRESH_TIME, value: "600000"}
              - {name: DEFAULT_BLOCK_ADS, value: "true"}
              - {name: DEFAULT_STEALTH, value: "true"}
    service:
      app:
        controller: changedetection
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        className: internal
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        existingClaim: changedetection
        advancedMounts:
          changedetection:
            app:
              - path: /datastore
