---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-internal
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: internal-dns-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
  data:
    - secretKey: api-token
      remoteRef:
        key: cloudflare-dns
        property: CLOUDFLARE_API_TOKEN
