# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: booklore
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    controllers:
      booklore:
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: ghcr.io/booklore-app/booklore
              tag: v2.0.0@sha256:954e4128d7ac1335b995b08bfc2d24362b416bf8b4204e9bee0c99b4cb8d1fd1
            env:
              TZ: "Australia/Sydney"
              USER_ID: "568"
              GROUP_ID: "568"
              BOOKLORE_PORT: &port 6060
              SWAGGER_ENABLED: "false"
              DATABASE_URL: "jdbc:mariadb://localhost:3306/booklore"
              DATABASE_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: booklore-secret
                    key: MYSQL_USER
              DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore-secret
                    key: MYSQL_PASSWORD
            envFrom:
              - secretRef:
                  name: booklore-secret
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
          mariadb:
            image:
              repository: lscr.io/linuxserver/mariadb
              tag: 11.4.8
            env:
              TZ: "Australia/Sydney"
              PUID: "568"
              PGID: "568"
              MYSQL_DATABASE: "booklore"
            envFrom:
              - secretRef:
                  name: booklore-secret
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
        pod:
          securityContext:
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups: [100]

    service:
      app:
        controller: booklore
        ports:
          http:
            port: *port

    route:
      main:
        hostnames:
          - booklore.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        existingClaim: booklore
        advancedMounts:
          booklore:
            app:
              - path: /app/data
            mariadb:
              - path: /config
      tmp:
        type: emptyDir
        advancedMounts:
          booklore:
            app:
              - path: /tmp
      books:
        type: nfs
        server: ${SECRET_NFS_DOMAIN}
        path: /volume2/books
        advancedMounts:
          booklore:
            app:
              - path: /books
                subPath: library
              - path: /bookdrop
                subPath: bookdrop
