# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: booklore
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    controllers:
      booklore:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: docker.io/library/mariadb
              tag: 11.7.2
            command: ["/bin/sh", "-c"]
            args:
              - |
                until mariadb-admin ping -h localhost -u root --password=$MARIADB_ROOT_PASSWORD --silent; do
                  echo "Waiting for MariaDB..."
                  sleep 2
                done
                echo "MariaDB is ready!"
            envFrom:
              - secretRef:
                  name: booklore-secret
        containers:
          app:
            image:
              repository: ghcr.io/booklore-app/booklore
              tag: v1.18.5
            env:
              TZ: "Australia/Sydney"
              USER_ID: 568
              GROUP_ID: 568
              DATABASE_URL: jdbc:mariadb://localhost:3306/booklore
              DATABASE_USERNAME: booklore
              BOOKLORE_PORT: &port 6060
            envFrom:
              - secretRef:
                  name: booklore-secret
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/healthcheck
                    port: *port
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/healthcheck
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 5
                  timeoutSeconds: 1
                  failureThreshold: 30
          mariadb:
            image:
              repository: docker.io/library/mariadb
              tag: 11.7.2
            env:
              MARIADB_DATABASE: booklore
              MARIADB_USER: booklore
            envFrom:
              - secretRef:
                  name: booklore-secret
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
        pod:
          securityContext:
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups: [100]

    service:
      app:
        controller: booklore
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: http://authelia.security.svc.cluster.local/api/verify
          nginx.ingress.kubernetes.io/auth-signin: https://auth.${SECRET_DOMAIN}?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
        hosts:
          - host: &host booklore.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      data:
        enabled: true
        existingClaim: booklore
        advancedMounts:
          booklore:
            app:
              - path: /app/data
                subPath: app
            mariadb:
              - path: /var/lib/mysql
                subPath: mysql
            01-init-db:
              - path: /var/lib/mysql
                subPath: mysql
      books:
        type: nfs
        server: ${SECRET_NFS_DOMAIN}
        path: /volume2/books
        globalMounts:
          - path: /books
      bookdrop:
        type: nfs
        server: ${SECRET_NFS_DOMAIN}
        path: /volume2/books/bookdrop
        globalMounts:
          - path: /bookdrop
      mysqld:
        type: emptyDir
        medium: Memory
        sizeLimit: 1Mi
        advancedMounts:
          booklore:
            mariadb:
              - path: /run/mysqld
            01-init-db:
              - path: /run/mysqld
