---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app immich-kiosk
  namespace: &namespace media
  labels:
    substitution.flux.home.arpa/disabled: "true"
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets
    - name: immich
      namespace: media
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
      - kind: Secret
        name: immich-kiosk-secret
  path: ./kubernetes/apps/media/immich-kiosk/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
