# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app influxdb
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    controllers:
      influxdb:
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: influxdb
              tag: 2.8.0
            env:
              INFLUXDB_DATA_CACHE_MAX_MEMORY_SIZE: 3G
              TZ: "Australia/Sydney"
            resources:
              requests:
                cpu: 23m
                memory: 1024Mi
              limits:
                memory: 2196Mi
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        type: LoadBalancer
        controller: influxdb
        annotations:
          external-dns.alpha.kubernetes.io/hostname: influx-direct.${SECRET_DOMAIN}
          io.cilium/lb-ipam-ips: 10.0.81.9
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: 8086
    route:
      app:
        hostnames:
          - influx.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /var/lib/influxdb2
