# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: evcc
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    controllers:
      evcc:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: evcc/evcc
              tag: 0.301.1@sha256:caf946659e43b3a3f2aaeaa439a57602ff1636f938ae02da9cdc9075e10573fa
            env:
              TZ: "${TZ}"
            envFrom:
              - secretRef:
                  name: evcc-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 7070
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
    service:
      app:
        controller: evcc
        ports:
          http:
            port: *port
    route:
      main:
        hostnames:
          - "evcc.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        enabled: true
        existingClaim: evcc
        globalMounts:
          - path: /root/.evcc
      # config-file:
      #   type: configMap
      #   name: evcc-configmap
      #   globalMounts:
      #     - path: /etc/evcc.yaml
      #       subPath: evcc.yaml
