# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless-ngx
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    remediation:
      retries: 3
      strategy: rollback
  values:
    controllers:
      paperless-ngx:
        annotations:
          reloader.stakater.com/auto: 'true'
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom: &envFrom
              - secretRef:
                  name: paperless-secret
        containers:
          gotenburg:
            image:
              repository: thecodingmachine/gotenberg
              tag: 8.27.0@sha256:d71ab8c13b6bd47c7bc81195082005dfb17eaa75e8b1fadd347a64ee66ed98d5
            env:
              - {name: DISABLE_GOOGLE_CHROME, value: '1'}
          tika:
            image:
              repository: apache/tika
              tag: latest-full@sha256:21d8052de04e491ccf66e8680ade4da6f3d453a56d59f740b4167e54167219b7
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.8@sha256:e231ec11a1907bfdf172b4f120b4ef1994feb71e6cc624e8b88c53e2da3dfb62
            envFrom: *envFrom
            env:
              USERMAP_UID: 568
              USERMAP_GID: 100
              PAPERLESS_TIME_ZONE: "${TZ}"
              PAPERLESS_PORT: &port 80
              PAPERLESS_REDIS: redis://dragonfly.database.svc.cluster.local:6379
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
              PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
              PAPERLESS_URL: https://paperless.${SECRET_DOMAIN}
              PAPERLESS_ALLOWED_HOSTS: paperless.${SECRET_DOMAIN},paperless-ngx.default.svc.cluster.local
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: 'true'
              PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_REMOTE_USER
              PAPERLESS_CONSUMPTION_DIR: /library/consume
              PAPERLESS_DATA_DIR: /data/data
              PAPERLESS_MEDIA_ROOT: /data/media
              PAPERLESS_EXPORT_DIR: /data/export
              PAPERLESS_CONSUMER_POLLING: 60
              PAPERLESS_CONSUMER_IGNORE_PATTERNS: '[".DS_STORE/*", "._*", ".stfolder/*", "@eaDir/*"]'
              PAPERLESS_TRUSTED_PROXIES: 10.69.0.0/16
              PAPERLESS_CONSUMER_DELETE_DUPLICATES: true
              PAPERLESS_CONSUMER_RECURSIVE: true
              PAPERLESS_OCR_LANGUAGE: eng
            resources:
              requests:
                cpu: 35m
                memory: 926Mi
              limits:
                memory: 6Gi
    service:
      app:
        controller: paperless-ngx
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - paperless.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        existingClaim: *app
        advancedMounts:
          paperless-ngx:
            app:
              - path: /data
      downloads:
        type: nfs
        server: ${SECRET_NFS_DOMAIN}
        path: /volume2/k8s/paperless
        globalMounts:
          - path: /library
