---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: loki
spec:
  parentRefs:
    - name: envoy-internal
      namespace: network
  hostnames:
    - loki.${SECRET_DOMAIN}
  rules:
    - backendRefs:
        - name: loki-gateway
          port: 80
