# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.3
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.1

clusterName: &cluster home-kubernetes
endpoint: https://10.0.80.99:6443
clusterPodNets:
  - 10.69.0.0/16
clusterSvcNets:
  - 10.96.0.0/16
additionalApiServerCertSans: &sans
  - 10.0.80.99
  - 127.0.0.1 # KubePrism
additionalMachineCertSans: *sans
cniConfig:
  name: none

nodes:
  - hostname: k8s-node-1
    ipAddress: 10.0.80.10
    installDiskSelector:
      model: Samsung SSD 870
    talosImageURL: factory.talos.dev/installer/76c84cdf5aa9d680bbb6bdd1f5d643d11462b5ce7f2b273c1f8d22e8f5e0af2b
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "48:21:0b:58:8d:f8"
              driver: igc
        dhcp: true
        vip:
          ip: 10.0.80.99
        vlans:
          - { vlanId: 10, dhcp: false, mtu: 1500 }
  - hostname: k8s-node-2
    ipAddress: 10.0.80.11
    installDiskSelector:
      model: Samsung SSD 870
    talosImageURL: factory.talos.dev/installer/76c84cdf5aa9d680bbb6bdd1f5d643d11462b5ce7f2b273c1f8d22e8f5e0af2b
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "1c:69:7a:a7:68:82"
              driver: igc
        dhcp: true
        vip:
          ip: 10.0.80.99
        vlans:
          - { vlanId: 10, dhcp: false, mtu: 1500 }
  - hostname: k8s-node-3
    ipAddress: 10.0.80.12
    installDiskSelector:
      model: Samsung SSD 870
    talosImageURL: factory.talos.dev/installer/76c84cdf5aa9d680bbb6bdd1f5d643d11462b5ce7f2b273c1f8d22e8f5e0af2b
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "48:21:0b:59:26:b7"
              driver: igc
        dhcp: true
        vip:
          ip: 10.0.80.99
        vlans:
          - { vlanId: 10, dhcp: false, mtu: 1500 }
  - hostname: k8s-node-4
    ipAddress: 10.0.80.13
    installDiskSelector:
      model: Samsung SSD 870
    talosImageURL: factory.talos.dev/installer/76c84cdf5aa9d680bbb6bdd1f5d643d11462b5ce7f2b273c1f8d22e8f5e0af2b
    controlPlane: false
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "1c:69:7a:a7:b4:7f"
              driver: igc
        dhcp: true
        vlans:
          - { vlanId: 10, dhcp: false, mtu: 1500 }
  - hostname: k8s-node-5
    ipAddress: 10.0.80.14
    installDiskSelector:
      model: CT1000P310SSD8
    talosImageURL: factory.talos.dev/installer/76c84cdf5aa9d680bbb6bdd1f5d643d11462b5ce7f2b273c1f8d22e8f5e0af2b
    controlPlane: false
    nodeLabels:
      drivers.talos.dev/nic: "i40e"
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "58:47:ca:7e:e5:28"
              driver: i40e
        dhcp: true
        vlans:
          - { vlanId: 10, dhcp: false, mtu: 1500 }

patches:
  - "@./patches/global/extension-services.yaml"
  - "@./patches/global/machine-features.yaml"
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"
  - "@./patches/global/machine-udev.yaml"

controlPlane:
  extensionServices:
    - &nut-config
      name: nut-client
      configFiles:
        - content: |-
            MONITOR ${UPS_HOST}:3493 1 ${UPS_USER} ${UPS_PASS} secondary
            FINALDELAY 0
            SHUTDOWNCMD "/sbin/poweroff"
          mountPath: /usr/local/etc/nut/upsmon.conf
  patches:
   - "@./patches/controller/admission-controller-patch.yaml"
   - "@./patches/controller/cluster.yaml"
   - "@./patches/controller/machine-features.yaml"

worker:
  extensionServices:
    - *nut-config
