# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unifi-poller
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    controllers:
      unpoller:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret unifi-poller-secret
        containers:
          app:
            image:
              repository: ghcr.io/unpoller/unpoller
              tag: v2.31.0@sha256:f4f1e080489dc91e9f7d1d92c7848c9872a8394575be137deb445b63b56b36ca
            envFrom:
              - secretRef:
                  name: *secret
            env:
              TZ: ${TZ}
              UP_UNIFI_DEFAULT_ROLE: home-ops
              UP_UNIFI_DEFAULT_URL: https://unifi.${SECRET_DOMAIN}
              UP_UNIFI_DEFAULT_VERIFY_SSL: true
              UP_UNIFI_DEFAULT_SAVE_SITES: true
              UP_UNIFI_DEFAULT_SAVE_DPI: true
              UP_INFLUXDB_DISABLE: true
              UP_PROMETHEUS_DISABLE: false
              UP_PROMETHEUS_NAMESPACE: unpoller
            resources:
              requests:
                cpu: 15m
                memory: 30Mi
              limits:
                memory: 250Mi
    service:
      app:
        controller: unpoller
        ports:
          http:
            port: 9130
    serviceMonitor:
      app:
        enabled: true
        serviceName: unifi-poller
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            scrapeTimeout: 5s
