---
apiVersion: v1
kind: ConfigMap
metadata:
  name: molt-config
data:
  openclaw.json: |
    {
      "agents": {
        "defaults": {
          "model": {
            "primary": "anthropic/claude-opus-4-5"
          }
        }
      },
      "gateway": {
        "port": 18789
      },
      "channels": {
        "telegram": {
          "enabled": true
        }
      }
    }
