# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app adguard-home
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    controllers:
      adguard:
        annotations:
          secret.reloader.stakater.com/reload: tls-adguard
        containers:
          app:
            image:
              repository: adguard/adguardhome
              tag: v0.107.71@sha256:92929135ced2554aaf94706f766a98ad348f211df61b0704e2db7e8498cc00b7
              pullPolicy: IfNotPresent
            env:
              TZ: "Australia/Sydney"
            probes:
              liveness: &probe
                type: HTTP
                path: /login.html
              readiness: *probe
              startup: *probe

    service:
      app:
        forceRename: *app
        controller: adguard
        ports:
          http:
            port: 80
      dns:
        controller: adguard
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: dns.${SECRET_DOMAIN}
          io.cilium/lb-ipam-ips: 10.0.81.10
        ports:
          dns-https:
            port: 443
            protocol: TCP
          dns-tcp:
            port: 53
            protocol: TCP
          dns-udp:
            port: 53
            protocol: UDP
          tls-tcp:
            port: 853
            protocol: TCP

    ingress:
      main:
        enabled: true
        className: internal
        hosts:
          - host: &host "adguard.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: adguard
        globalMounts:
          - path: /opt/adguardhome/conf
            subPath: conf
      work:
        enabled: true
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        size: 5Gi
        globalMounts:
          - path: /opt/adguardhome/work
            subPath: work
      tls:
        enabled: true
        type: secret
        name: tls-adguard
        globalMounts:
          - path: /opt/adguardhome/ssl/certs/
            readOnly: true
