{{- $sourcePath := printf "../../kubernetes/apps/%s/%s/app/ocirepository.yaml" .Release.Namespace .Release.Name -}}
{{- if eq .Release.Name "onepassword-connect" -}}
  {{- $sourcePath = "../../kubernetes/components/common/repos/app-template/ocirepository.yaml" -}}
{{- else if eq .Release.Name "grafana-operator" -}}
  {{- $sourcePath = "../../kubernetes/apps/observability/grafana/app/ocirepository.yaml" -}}
{{- else if eq .Release.Name "cnpg" -}}
  {{- $sourcePath = "../../kubernetes/apps/database/cloudnative-pg/app/ocirepository.yaml" -}}
{{- end -}}
{{- $oci := fromYaml (readFile $sourcePath) -}}
chart: {{ $oci.spec.url }}
version: {{ $oci.spec.ref.tag }}
