---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: k8s-node-2
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: bond0-m0
selector:
  match: glob("1c:69:7a:a7:68:82", mac(link.hardware_addr)) && glob("igc", link.driver)
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - bond0-m0
bondMode: active-backup
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 10.0.80.99
link: bond0
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.10
vlanID: 10
parent: bond0
mtu: 1500
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: factory.talos.dev/metal-installer/{{ schematic }}:v1.14.0
provisioning:
  diskSelector:
    match: disk.model == "Samsung SSD 870"
  wipe: false
