---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./fernwood-booker/ks.yaml
  - ./frigate/ks.yaml
  - ./home-assistant/ks.yaml
  - ./mosquitto/ks.yaml
  - ./pvoutput/ks.yaml
  - ./teslamate/ks.yaml
  - ./zigbee2mqtt/ks.yaml
