---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: automation
components:
  - ../../components/common
resources:
  - ./changedetection/ks.yaml
  - ./esphome/ks.yaml
  - ./evcc/ks.yaml
  - ./fernwood-booker/ks.yaml
  - ./frigate/ks.yaml
  - ./go2rtc/ks.yaml
  - ./home-assistant/ks.yaml
  - ./mosquitto/ks.yaml
  - ./teslamate/ks.yaml
  - ./zigbee2mqtt/ks.yaml
