# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ntpd
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      ntpd:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: cturra/ntp
              tag: latest@sha256:7224d4e7c7833aabbcb7dd70c46c8a8dcccda365314c6db047b9b10403ace3bc
              pullPolicy: Always
            env:
              TZ: ${TZ}
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 256Mi
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            securityContext:
              runAsUser: 0
              capabilities:
                add:
                  - SYS_TIME
    service:
      app:
        type: LoadBalancer
        controller: ntpd
        annotations:
          external-dns.alpha.kubernetes.io/hostname: ntpd.${SECRET_DOMAIN}
          io.cilium/lb-ipam-ips: 10.0.81.5
        externalTrafficPolicy: Cluster
        ports:
          ntpd:
            enabled: true
            primary: true
            protocol: UDP
            port: 123
    persistence:
      etc-chrony:
        type: emptyDir
        medium: Memory
        sizeLimit: 100Mi
        globalMounts:
          - path: /etc/chrony
      var-chrony:
        type: emptyDir
        medium: Memory
        sizeLimit: 100Mi
        globalMounts:
          - path: /var/lib/chrony
