---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: stash
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      imagePullSecrets:
        - name: ghcr-private
    controllers:
      stash:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: stashapp/stash
              tag: v0.29.3@sha256:a62f2d8afadbe029403777d18f54b2455b209a223aa28c6d3985c3cf9df2e08a
            env:
              TZ: "Australia/Sydney"
              STASH_STASH: /media/
              STASH_GENERATED: /generated/
              STASH_METADATA: /root/.stash
              STASH_CACHE: /cache/
            resources:
              requests:
                cpu: 500m
                memory: 750Mi
              limits:
                gpu.intel.com/i915: 1
                memory: 8Gi
            lifecycle:
              postStart:
                exec:
                  command: ["/sbin/apk", "add", "youtube-dl"]
          uploader:
            image:
              repository: ghcr.io/adampetrovic/stash-uploader
              tag: 0.1.3@sha256:223f1f382f4c4bee69e73c03e158db9afd13fafad2276e157d2e3cf5319196d3
            env:
              TZ: "Australia/Sydney"
              UPLOAD_DIR: /media
              PORT: "8080"
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 2048Mi
        pod:
          nodeSelector:
            intel.feature.node.kubernetes.io/gpu: "true"
    service:
      app:
        controller: stash
        ports:
          http:
            enabled: true
            port: 9999
      uploader:
        controller: stash
        ports:
          http:
            enabled: true
            port: 8080
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host stash.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
              - path: /upload
                pathType: Prefix
                service:
                  identifier: uploader
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      stash:
        enabled: true
        existingClaim: stash
        globalMounts:
          - path: /root/.stash
      media:
        type: nfs
        server: ${SECRET_NFS_DOMAIN}
        path: /volume2/stash/media
        globalMounts:
          - path: /media
      generated:
        type: nfs
        server: ${SECRET_NFS_DOMAIN}
        path: /volume2/stash/generated
        globalMounts:
          - path: /generated
      blob:
        type: nfs
        server: ${SECRET_NFS_DOMAIN}
        path: /volume2/stash/blob
        globalMounts:
          - path: /blob
      cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /cache
