---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: external-unifi
  namespace: default
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/proxy-ssl-verify: "off"
spec:
  ingressClassName: internal
  rules:
    - host: &host unifi.${SECRET_DOMAIN}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: external-unifi
                port:
                  number: 443
  tls:
    - hosts:
        - *host
---
apiVersion: v1
kind: Service
metadata:
  name: external-unifi
  namespace: default
spec:
  ports:
    - protocol: TCP
      port: 443
      targetPort: 443
---
apiVersion: v1
kind: Endpoints
metadata:
  name: external-unifi
  namespace: default
subsets:
  - addresses:
      - ip: 10.0.0.1
    ports:
      - port: 443
