# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app speedtest-tracker
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    controllers:
      speedtest-tracker:
        annotations:
          reloader.stakater.com/auto: 'true'
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: speedtest-tracker-secret
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/speedtest-tracker
              tag: 1.13.9@sha256:d681fae50e16908a9a392c3d07f990d52d5f773aca07dd2818bd1c50dbe93462
            envFrom: *envFrom
            env:
              TZ: &timezone "Australia/Sydney"
              DISPLAY_TIMEZONE: *timezone
              SPEEDTEST_SCHEDULE: "0 */6 * * *" # every 6 hours
              SPEEDTEST_SERVERS: "15132,8777,1267,27582"
              APP_URL: https://speedtest.${SECRET_DOMAIN}
              MAIL_MAILER: smtp
              MAIL_PORT: 25
              MAIL_HOST: smtp.${SECRET_DOMAIN}
              MAIL_FROM_ADDRESS: speedtest@${SECRET_DOMAIN}
              MAIL_FROM_NAME: Speedtest Tracker
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
    service:
      app:
        controller: speedtest-tracker
        ports:
          http:
            port: &port 80
    ingress:
      main:
        enabled: true
        className: internal
        hosts:
          - host: &host speedtest.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: *app
