---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gdb-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: gdb-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        DB_HOST: "gdb-postgres-rw.gdb.svc.cluster.local"
        DB_PORT: "5432"
        DB_USER: "{{ .POSTGRES_USER }}"
        DB_PASSWORD: "{{ .POSTGRES_PASS }}"
        DB_NAME: "gdb"
        STASH_API_KEY: "{{ .STASH_API_KEY }}"

        # Postgres Init
        INIT_POSTGRES_DBNAME: gdb
        INIT_POSTGRES_HOST: gdb-postgres-rw.gdb.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

        # scraper
        DATABASE_URL: "postgresql://{{ .POSTGRES_USER }}:{{ .POSTGRES_PASS }}@gdb-postgres-rw.gdb.svc.cluster.local:5432/gdb?sslmode=disable"
        DATABASE_REPLICA_URL: "postgresql://{{ .POSTGRES_USER }}:{{ .POSTGRES_PASS }}@gdb-postgres-ro.gdb.svc.cluster.local:5432/gdb?sslmode=disable"

  dataFrom:
    - extract:
        key: gdb
    - extract:
        key: cloudnative-pg
